.container-fluid {
    height: calc(100vh);
}

.detail-planet {
    display: block;
    width: 70%;
    margin: 20px auto;
}
.detail-text{
    
    color: rgb(183, 235, 236);
    background-color: rgba(128, 128, 128, 0.555);
    border: solid black;
    border-radius:  5px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
}
.detail-facts{
    width: 100%;
    color: rgb(183, 235, 236);
    background-color: rgba(128, 128, 128, 0.555);
    border: solid black;
    border-radius:  5px;
    padding: 20px 20px 20px 20px;
    box-sizing: border-box;
}

.detail-structure{
    width: 40%;
    margin: auto;
    display: block;
    
}
.detail-text-subtitle{
    color: rgb(99, 247, 247);
}
.detail-facts-subtitle{
    color: rgb(99, 247, 247);
}
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d4d1d1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

.detail-text-subtitle h3{
    color: #cc87f9;
    text-align: center;
    line-height: 50px;
    border-bottom: 4px solid #333333;
    background: rgb(51 51 51 / 60%);
}

.detail-text p, .detail-facts ul, .detail-facts-subtitle {
    color: #fff;
    text-align: justify;
    padding: 10px 15px;
    background: rgb(51 51 51 / 60%);
    border-bottom: 4px solid #333333;
    margin: 0;
}
.detail-facts ul {
    padding-left: 30px;
}