body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.planet{
    width: 100%;
    
}
p{
    color: aliceblue;
}
.subtitle{
    color: aliceblue;
}
.structure{
    width: 20%;
    margin: auto;
    display: block;
}