body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.detail-planet{
    width: 100%;
    
}
p{
    color: aliceblue;
}
.detail-subtitle{
    color: aliceblue;
}
.detail-structure{
    width: 40%;
    margin: auto;
    display: block;
    
}
