*{
    padding: 0;
    margin: 0;
}
body, html{
    background-color: black;
    width: 100%;
    height: 100%;
}

#stardust-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("./clear_gb.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

span{
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
}

