*{
    padding: 0;
    margin: 0;
    cursor: url("./astronaut.png"), auto;
}


#stardust-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("./space_background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}