*{
    padding: 0;
    margin: 0;
}


#stardust-container{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("./clear_gb.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

