@*@inherits CustomBaseViewPage<TModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>@Localize("Hello")</h2>
    <h2>@Localize("Welcome")</h2>
    <h2>@Localize("Sorry")</h2>
</div>*@

<div>
    <h1>@ViewData["Test"]</h1>
</div>