<!--Container for the stars-->
    <link rel="stylesheet" href="~/css/stardust.css">
    <div id="stardust-container" onload="onMouseUpdate()">

    </div>
    <script src="~/js/stardust.js"></script>